/******************************************************************
Site Name: _paperTheme.com 
Author: _author_

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.



TABLE OF CONTENTS 
be sure to keep this updated as your project grows
1. General 
2. Link 
3. Wordpress Body Classes (pages)
4. Header 
5. Wordpress Menu Nav (imported partial)
6. Wordpress Posts and Content (imported module)
7. Wordpress Page Nav (imported partial)
8. Wordpress Sidebars and Widgets (imported module)
9. Footer Styles
******************************************************************/


/* =======================================================================
1. GENERAL STYLES   
========================================================================== */
// box-sizing polly-fill
*{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html{
	// setup base 10 stuff for use in rem() mixin
	font-size: 62.5%;
	overflow-x:hidden;
}

body {
	font-family: $lato;
	@include rem(font-size, 1.6);
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  -webkit-font-smoothing: antialiased;
}




/* =======================================================================
2. LINK STYLES   
be careful not to mix these up with your _buttons.scss styles
========================================================================== */
a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



/* =======================================================================
 3. WP BODY CLASSES
 Keep in mind these only apply to the < 480px 
========================================================================== */
@import "partials/wp_body_classes";



/* =======================================================================
4. HEADER STYLES   
========================================================================== */

#masthead { background-color: $black; }

	#site-logo {
		margin: 0.75em 0;

		a {color: $white; }
	}


/* =======================================================================
 5. WORDPRESS MENU NAV STYLES  
 ========================================================================== */
 @import "partials/wp_menu_nav";


/* =======================================================================
  6. WORDPRESS POSTS & CONTENT BASE STYLES 
 ========================================================================== */
@import "modules/wp_posts";


/* =======================================================================
7. WORDPRESS PAGE NAV STYLES   
========================================================================== */
@import "partials/wp_page_nav";


/* =======================================================================
 8. WORDPRESS SIDEBARS AND WIDGETS
========================================================================== */
@import "modules/wp_sidebars_widgets";


/* =======================================================================
9. FOOTER STYLES 
========================================================================== */

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}