/******************************************************************
Site Name: _paperTheme.com 
Author: _author_

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.


TABLE OF CONTENTS 
keep these consistent with your css comment header
this way you can copy and search for easier navigation 

NOTE: be sure to keep this updated as your project grows
1. FONT FACE
2. FONT STACKS 
3. PARAGRAPH DEFAULTS 
4. H1, H2, H3, H4, H5 STYLES   
5. TEXT UTILITY CLASSES
6. ACCESSIBILITY

******************************************************************/

/* =======================================================================
1. FONT FACE (IN YOUR FACE)   
 To embed your own fonts, use this syntax and place your fonts inside
 the css/fonts folder. 

 For more information on embedding fonts, go to: http://www.fontsquirrel.com/
 Be sure you have rights the fonts you use.
========================================================================== */

@font-face {
    font-family: 'Font Name';
    src: url('fonts/font-family/font-weight/font-name.eot');
    src: url('fonts/font-family/font-weight/font-name.eot?#iefix') format('embedded-opentype'),
         url('fonts/font-family/font-weight/font-name.woff') format('woff'),
         url('fonts/font-family/font-weight/font-name.ttf') format('truetype'),
         url('fonts/font-family/font-weight/font-name.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* =======================================================================
2. FONT STACKS
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
========================================================================== */
// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$lato:              'Lato', $sans-serif;



/* =======================================================================
3. PARAGRAPH DEFAULTS 
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
========================================================================== */
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
      word-break: break-word;
     word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}


/* =======================================================================
4. H1, H2, H3, H4, H5 STYLES   
========================================================================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a { text-decoration: none; }
}

h1, .h1 {
  @include rem(font-size,4.0);
  @include rem(line-height,5.3);
}

h2, .h2 {
  @include rem(font-size,2.8);
  @include rem(line-height,3.9);
  margin-bottom: 0.375em;
}

h3, .h3 { 
  @include rem(font-size,1.8);
}

h4, .h4 {
  
  @include rem(font-size,1.6);
  font-weight: 700;
}

h5, .h5 {
  
  @include rem(font-size, 1.4);
  @include rem(line-height, 2.926);
  text-transform: uppercase;
  letter-spacing: 2px;
}



/* =======================================================================
5. TEXT UTILITY CLASSES
========================================================================== */
/* Case ============================== */
.text-upper{text-transform:uppercase;}
.text-lower{text-transform:lowercase;}
.text-caps{text-transform:capitalize;}


/* Alignment ============================== */
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}


/* =======================================================================
6. ACCESSIBILITY
========================================================================== */

/* Text meant only for screen readers */
.text-screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.text-screen-reader:hover,
.text-screen-reader:active,
.text-screen-reader:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}